@import url('http://fonts.cdnfonts.com/css/daniel');
.B
{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;

}
@media screen and (min-width:1025px) {
    .header
    {
        background-color: rgb(248, 176, 53);
        padding-bottom: 1px;   
    }
    .L
    {
        margin-left: 20px;
        margin-right: 80%;
    }
    .logo
    {
        width: 250px;
        height: 110px;
    }
    .S
    {
        margin-top: -75px;
        margin-left: 39.5%;
        margin-right: 40%;
    
    }
    .search
    {
        font-family: 'Daniel Black', sans-serif; 
        margin-top: 0px;
        margin-bottom: 25px;
        width: 300px;
        height: 50px;
        font-size: large;
        padding: 10px;
        border-radius: 30px;
        border: none;
    }
    .P
    {
        margin-top: -75px;
        margin-left: 75%;
        margin-right: 5%;
        margin-bottom: 40px;
        text-align: right;
    }
    .link
    {
        margin-top: -75px;
        margin-bottom: 25px;
        width: 500px;
        height: 50px;
        font-size: xx-large;
        text-decoration: none;
        font-family: 'Daniel Black', sans-serif; 
        
    }
    .edit
    {
        margin-top: 2%;
        margin-left: 60%;
        margin-right: 10%; 
        border-radius: 30px;
        font-size: large;
        text-align: center;
        font-family: 'Daniel Black', sans-serif; 
        background-image: linear-gradient(to right, rgb(255, 215, 130) , rgb(255, 255, 255));
        color: brown;
    }
    .eform
    {
        margin-top: 1%;
        margin-left: 60%;
        margin-right: 10%;
        background-image: url("img/BG.jpg");
        background-size: cover;
        color: brown;
        text-align: center;
        font-size:x-large;
        font-family: 'Daniel Black', sans-serif;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
        line-height: 30px;
    }
    .eform input
    {
        text-align: center;
        font-size:x-large;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 5px;
        padding-bottom: 5px;
        padding: auto;
    }
    .image
    {
        border: 8px solid rgb(248, 176, 53);
        height: 100px;
        width: 100px;
        border-radius: 100px ;
    }
    .button
    {
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.986);
        border: none;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
    .button:hover
    {
        background-color: rgba(202, 202, 202, 0.753);
        color: black;
    
    }
    .password
    {
        margin-top: -40%;
        margin-right: 60%;
        margin-left: 10%; 
        border-radius: 30px;
        text-align: center;
        font-size: large;
        font-family: 'Daniel Black', sans-serif; 
        background-image: linear-gradient(to right, rgb(255, 215, 130) , rgb(255, 255, 255));
        color: brown;
    }
    .cform
    {
        margin-top: 1%;
        margin-right: 60%;
        margin-left: 10%;
        background-image: url("img/BG.jpg");
        background-size: cover;
        color: brown;
        text-align: center;
        font-size:x-large;
        font-family: 'Daniel Black', sans-serif;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
        line-height: 30px;
    }
    .cform input
    {
        text-align: center;
        font-size:x-large;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 5px;
        padding-bottom: 5px;
        padding: auto;
    }
    .back
    {
        text-align: center;
        text-decoration: none;
        color: black;
        border-radius: 30px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(255, 216, 158);
        border:none;
        font-size:x-large;
        font-family: 'Daniel Black', sans-serif;
    }  
    .back:hover
    {
        background-color: rgba(255, 255, 255, 0.774);
        color: black;
    
    }
    .backdiv
    {
        margin-left: 10%;
        margin-top: 5%;
    
    }  
}
@media screen and (max-width:1024px) and (min-width:801px) {
    .header
    {
        background-color: rgb(248, 176, 53); 
        padding-bottom: 1px;   
    }
    .L
    {
        margin-left: 20px;
        margin-right: 80%;
    }
    .logo
    {
        width: 250px;
        height: 110px;
    }
    .S
    {
        margin-top: -75px;
        margin-left: 39.5%;
        margin-right: 40%;
    
    }
    .search
    {
        font-family: 'Daniel Black', sans-serif; 
        margin-top: 0px;
        margin-bottom: 25px;
        width: 300px;
        height: 50px;
        font-size: large;
        padding: 10px;
        border-radius: 30px;
        border: none;
    }
    .P
    {
        margin-top: -75px;
        margin-left: 75%;
        margin-right: 5%;
        margin-bottom: 40px;
        text-align: right;
    }
    .link
    {
        margin-top: -75px;
        margin-bottom: 25px;
        width: 500px;
        height: 50px;
        font-size: xx-large;
        text-decoration: none;
        font-family: 'Daniel Black', sans-serif; 
        
    }
    .edit
    {
        margin-top: 2%;
        margin-left: 60%;
        margin-right: 10%; 
        border-radius: 30px;
        font-size: large;
        text-align: center;
        font-family: 'Daniel Black', sans-serif; 
        background-image: linear-gradient(to right, rgb(255, 215, 130) , rgb(255, 255, 255));
        color: brown;
    }
    .eform
    {
        margin-top: 1%;
        margin-left: 60%;
        margin-right: 10%;
        background-image: url("img/BG.jpg");
        background-size: cover;
        color: brown;
        text-align: center;
        font-size:x-large;
        font-family: 'Daniel Black', sans-serif;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
        line-height: 30px;
    }
    .eform input
    {
        text-align: center;
        font-size:x-large;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 5px;
        padding-bottom: 5px;
        padding: auto;
    }
    .image
    {
        border: 8px solid rgb(248, 176, 53);
        height: 100px;
        width: 100px;
        border-radius: 100px ;
    }
    .button
    {
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.986);
        border: none;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
    .button:hover
    {
        background-color: rgba(202, 202, 202, 0.753);
        color: black;
    
    }
    .password
    {
        margin-top: -65%;
        margin-right: 60%;
        margin-left: 10%; 
        border-radius: 30px;
        text-align: center;
        font-size: large;
        font-family: 'Daniel Black', sans-serif; 
        background-image: linear-gradient(to right, rgb(255, 215, 130) , rgb(255, 255, 255));
        color: brown;
    }
    .cform
    {
        margin-top: 1%;
        margin-right: 60%;
        margin-left: 10%;
        background-image: url("img/BG.jpg");
        background-size: cover;
        color: brown;
        text-align: center;
        font-size:x-large;
        font-family: 'Daniel Black', sans-serif;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
        line-height: 30px;
    }
    .cform input
    {
        text-align: center;
        font-size:x-large;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 5px;
        padding-bottom: 5px;
        padding: auto;
    }
    .back
    {
        text-align: center;
        text-decoration: none;
        color: black;
        border-radius: 30px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(255, 216, 158);
        border:none;
        font-size:x-large;
        font-family: 'Daniel Black', sans-serif;
    }  
    .back:hover
    {
        background-color: rgba(255, 255, 255, 0.774);
        color: black;
    
    }
    .backdiv
    {
        margin-left: 10%;
        margin-top: 5%;
    
    }  
}

